<html lang="en">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%=blogs.title%></h2>
    <div class="content">
        <p><h3><b>Blog Snippet</b></h3><%=blogs.snippet%></p>
        <p><h3><b>Blog Body</b></h3><%=blogs.body%></p>
        <p><h3><b>Author's_Name</b></h3><%=blogs.author%></p>
        <p><h3><b>Relavent Links</b></h3><%=blogs.links%></p>
        <p><h4><b>Created at</b></h4><%=blogs.createdAt%></p>
        <p><h4><b>Last updated at</b></h4><%=blogs.updatedAt%></p><b></b>
    </div>
    <a class="update" data-doc="<%= blogs._id %>" href="/blogs/e/<%= blogs._id %>"><button>Edit Blog</button></a>
    <a class="delete" data-doc="<%= blogs._id %>">delete</a>
  </div>
  <div>
    <button onclick="shareOnFacebook()">Share on Facebook</button>
    <button onclick="shareOnTwitter()">Share on Twitter</button>
    <button onclick="shareOnWhatsApp()">Share on WhatsApp</button>
  </div>
  <a href="/blogs/comment/<%= blogs._id %>">Add comment</a><br>
  <a href="/blog/comment/view/<%= blogs._id %>">view comments</a><br>
  <a href="/blog/email/<%= blogs._id %>">Send this to my Email</a>
  <%- include("./partials/footer.ejs") %>
  <script src="/details.js"></script>
</body>
</html>