<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <h2><%= title %></h2>
    <form action="/blogs/<%=blogs._id%>" method="POST">
      <label for="title">Blog Title:</label>
      <input type="text" id="title" name="title" value="<%=blogs.title%>" required>
      <label for="snippet" >Blog Snippet:</label>
      <input type="text" id="snippet" name="snippet" value="<%=blogs.snippet%>" required>
      <label for="body">Blog Body:</label>
      <input  type="text" id="body" name="body" value="<%=blogs.body%>" required></input>
      <a class="update-form" data-doc="<%=blogs._id %>"><button>submit</button></a>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
  <script>
    // const updateData = document.querySelector('a.update-form');
    // updateData.addEventListener('click', (e) => {
    // const pt = `/blogs/${updateData.dataset.doc}`;
    // fetch(pt,{method:'POST',})
    // .then(response => response.json())
    // .then(data => window.location.href = data.redirect)
    // .catch(err => console.log(err));
    // });
  </script>
</body>
</html>